<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <!-- <div class="angular-logo">
                      <img src="assets/img/angular2-logo.png" alt="">
                  </div> -->
                  <h1 class="presentation-title">LUCKVIN AUTO CARE</h1>
                  <div class="fog-low">
                      <!-- <img src="assets/img/fog-low.png" alt=""> -->
                  </div>
                  <div class="fog-low right">
                      <img src="  " alt="">
                  </div>
              </div>

              <p class="" style="color:white;text-align:center">We  offer convenient and quality driven 
                  services for your vehicle. From a basic exterior wash to more specialized interior 
                  detailing, our professionally trained staff deliver exceptional results on all types of vehicles.</p>
          </div>
          <!-- <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                    <div> <a [routerLink]="['/nucleoicons']" class="btn btn-outline-danger btn-round btn-lg">RESERVE ONLINE</a></div>
            </div>
            <div class="col-md-5"></div>
          </div> -->
         
      </div>
      <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
     
  </div>
  <div class="main">
      <!-- <app-components></app-components> -->
      <div class="section section-dark section-nucleo-icons">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <h2 class="title">SERVICE PACKAGES</h2><br/>
                      <div class="row">
                          <div class="col-md-6">
                              <ul style="color:white">
                                  <li> Corrosion Protection</li>
                                  <li>Radiator Coolant Flush and Replacement</li>
                                  <li> Brake Fluid Change</li>
                                  <li>Fuel System Cleaning</li>
                                  <li>  Engine Scanning</li>
                                  
                              </ul>
                               
                                
                               
                                
                              
                          </div>
                          <div class="col-md-6">
                                <ul style="color:white">
                                        <li> Corrosion Protection</li>
                                        <li>Radiator Coolant Flush and Replacement</li>
                                        <li> Brake Fluid Change</li>
                                        <li>Fuel System Cleaning</li>
                                        <li>  Engine Scanning</li>
                                        
                                    </ul>
                                     
                          </div>
                      </div>
                      <a [routerLink]="['/nucleoicons']" class="btn btn-danger btn-round">View Demo Icons</a>
                      <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-danger btn-round" target="_blank">View All Icons</a>
                  </div>

                  <div class="col-lg-6 col-md-12">
                      <div class="icons-container">
                          <i class="nc-icon nc-time-alarm"></i>
                          <i class="nc-icon nc-atom"></i>
                          <i class="nc-icon nc-camera-compact"></i>
                          <i class="nc-icon nc-watch-time"></i>
                          <i class="nc-icon nc-key-25"></i>
                          <i class="nc-icon nc-diamond"></i>
                          <i class="nc-icon nc-user-run"></i>
                          <i class="nc-icon nc-layout-11"></i>
                          <i class="nc-icon nc-badge"></i>
                          <i class="nc-icon nc-bulb-63"></i>
                          <i class="nc-icon nc-favourite-28"></i>
                          <i class="nc-icon nc-planet"></i>
                          <i class="nc-icon nc-tie-bow"></i>
                          <i class="nc-icon nc-zoom-split"></i>
                          <i class="nc-icon nc-cloud-download-93"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="section ">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto text-center">
                      <h2 class="title">Completed with examples</h2>
                      <p class="description">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful kit.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
          <div class="container">
            
          </div>
      </div>
      <div class="section section-dark">
          <div class="container">
              <div class="row example-page">
                  <div class="col-md-6 text-center" routerLinkActive="active">
                      <a [routerLink]="['/landing']">
                          <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                          <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                      </a>
                  </div>

                  <div class="col-md-6 text-center" routerLinkActive="active">
                      <a [routerLink]="['/user-profile']">
                          <img src="./assets/img/examples/profile-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                          <a [routerLink]="['/user-profile']" class="btn btn-outline-neutral btn-round">Profile Page</a>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <div class="section">
          <div class="">
                <app-mapcomponent></app-mapcomponent>
          </div>
      </div>
  </div>
</div>
<script>

</script>